/* ===== TARJETA (CARD) ===== */
.card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 40;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 4);
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-max-height: 500px;
}

/* ===== TÍTULO PRINCIPAL ===== */
.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #193047;
}

/* ===== SUBTÍTULO ===== */
.subtitle {
    -fx-font-size: 13px;
    -fx-text-fill: #4A4A4A;
    -fx-text-alignment: center;
}

/* ===== SECCIÓN ===== */
.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #193047;
    -fx-padding: 10 0 10 0;
}

/* ===== CAMPOS ===== */
.input {
    -fx-background-radius: 10;
    -fx-pref-height: 45;
    -fx-font-size: 14px;
}

/* ===== LINK ===== */
.link {
    -fx-text-fill: #193047;
    -fx-alignment: center-left;
    -fx-translate-x: -90;
}


/* ===== BOTÓN ===== */
.login-btn {
    -fx-background-color: #1F3A64;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10 30;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
