/* ------ Sidebar ------ */
.sidebar {
    -fx-background-color: #f5f7fa;
    -fx-padding: 40 20;
}

.sidebar-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.sidebar-btn,
.sidebar-btn-selected {
    -fx-background-radius: 10px;
    -fx-padding: 10 20;
    -fx-font-size: 16px;
}

.sidebar-btn {
    -fx-background-color: #e3e7ee;
}

.sidebar-btn-selected {
    -fx-background-color: #2a4370;
    -fx-text-fill: white;
}


/* ------ Header ------ */
.header {
    -fx-padding: 20;
    -fx-background-color: white;
}


/* ------ Tabs ------ */
.tabs {
    -fx-padding: 0 0 10 0;
}

.tab-btn {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-padding: 10 20;
}

.tab-btn-selected {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #2a4370;
}


/* ------ Card ------ */
.card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}


/* ------ Table ------ */
.table-view {
    -fx-font-size: 15px;
}

