/* Fondo general */
.menu-root {
    -fx-background-color: #FFFFFF;
}

/* Logo */
.menu-logo {
    -fx-fit-width: 150;
}

/* Botón salir */
.logout-btn {
    -fx-background-color: #4a5d79;
    -fx-padding: 8;
    -fx-cursor: hand;
}

.logout-btn:hover {
    -fx-background-color: #334054;
    -fx-background-radius: 8px;
}

/* Título Servicios */
.menu-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #16345F;
}

/* Tarjetas */
.menu-card {
    -fx-background-color: #F9FBFB;
    -fx-padding: 25px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: #D9D9D9;
    -fx-border-width: 1.5px;
    -fx-pref-width: 260px;
    -fx-pref-height: 400px;
    -fx-effect: dropshadow(gaussian, #CED3D9, 8, 0.20, 0, 3);
}

/* Texto dentro de las tarjetas */
.menu-card-text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #16345F;
    -fx-text-alignment: center;
}
